@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    
</div>
<div>
    <a href="@Url.Action("Index","Entity")"><h5>Entities</h5></a>
    <a class="mt-5" href="@Url.Action("Index","Api")"><h5>Apis</h5></a>
</div>
